[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
wtforms = "*"
sqlalchemy = "*"
celery = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
